<nav class = "navbar navbar-devault" role = "navigation">

	<div class = "container">


	<%= link_to "Home", root_path, class: "navbaar-brand"%>	
	<%= link_to "Home", root_path, class: "navbaar-brand"%>	
	</div>

</nav>