<div class="container">
<h1> New Table </h1>

<%= form_for([@restaurant, @table]) do |f| %>

	<div class="form-group">
		<p>
		   <%= f.label :noseats %><br>
		   <%= f.text_field :noseats %>
		</p>
  	</div>
 
 	<div class="form-group">
	  	<p>
	    	<%= f.submit 'Save', class: "btn" %>
	 	</p>
	</div>
<% end %>
</div>